.articlesContainer {
  display: flex;
  flex-direction: column;
}

.article {
  border-bottom: solid 1px black ;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.articleTitle {
  font-size: 63px;
  line-height: 1.1;
  width: 79%;
  padding-top: 14px;
  padding-bottom: 10px;
  display: block;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  
  z-index: 10;
}

.articleTitle:hover {
  transform:translateX(5rem);
}

.articleDetails {
  
  align-self: flex-end;
  padding-bottom: 10px;
  

}

