.articlesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.article {
  border-bottom: solid 1px black ;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.articleTitle {
  font-size: 63px;
  line-height: 1.1;
  width: 79%;
  padding-top: 14px;
  padding-bottom: 10px;
  display: block;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
  
  z-index: 10;
}

.article:hover {
  /* transform:translateX(5rem); */
  background: rgb(65,64,64);
  background: linear-gradient(100deg, rgba(65, 64, 64, 0.6) 11%, rgba(172,172,172,1) 100%);
}

.articleDetails {
  
  align-self: flex-end;
  padding-bottom: 10px;
  

}

