
.articlesContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.article {
  border-bottom: solid 1px black ;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  display: flex;
}

.article:hover {
  background: rgb(65,64,64);
  background: linear-gradient(100deg, rgba(65, 64, 64, 0.6) 11%, rgba(172,172,172,1) 100%);
}

.articleTitle {
  font-size: 64px;
  line-height: 1.1;
  width: 79%;
  padding-top: 14px;
  padding-bottom: 10px;
  display: block;
  font-weight: 400;
  z-index: 10;
}

.articleDetails {
  width: 21%;
  align-self: flex-end;
  padding-bottom: 10px;
  font-weight: 400;
  
}

@media screen and (max-width: 1024px) {

  .article {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .articleTitle {
    font-size: 48px;
    line-height: 1.3em;
    padding-top: 7px;
    padding-bottom: 4px;
  }

  .articleDetails {
    font-size: 16px;
    width: 21%;
    text-align: end;
    padding: auto;
  }
}

@media screen and (max-width: 600px) {

  .article {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .articleTitle {
    font-size: 24px;
    line-height: 1.3em;
    padding-top: 5px;
    padding-bottom: 3px;
  }

  .articleDetails {
    font-size: 10px;
    width: 21%;
    text-align: end;
    padding: auto;
  }
}