.title {
  display: block;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-left: 17%;
  padding-right: 17%;
  margin-top: 45px;
}

.info {
  display: block;
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 40px;
  color: grey;
}

.details {
  font-size: 24px;
  padding-left: 17%;
  padding-right: 17%;
  margin-top: 45px;
  font-weight: 400;
}

.content {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 40px;
}

.content > * {
  margin-bottom: 1.5em;
  letter-spacing: normal;
  line-height: 2;
  text-align: justify;
}

.content > h2,.content > h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.details *::selection{
  background-color: rgba(255, 217, 0, 0.5);

}


blockquote {
  
  border-left: 5px solid rgba(128, 128, 128, 0.6);
  padding: 1em 1.5em;
}

hr {
  border: none;
  height: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
}

.details img {
  width:65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
  
}

.details a {
  color: #3273dccc;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

}



hr ~ ol {
  padding: 0 5%; 
}

.scrollUp{
  font-size: 18px;
  font-weight: 600;
  padding: 1px 5px;
  margin-bottom: 1em;
  margin-right: 1em;
  background-color: white;
  border: solid 1px black;
  
}

/* ipad pro */
@media screen and (max-width: 1024px) {
  .details {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 45px;
    font-weight: 400;
  }

}


/* mobile */
@media screen and (max-width: 500px) {

  .details {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
    font-weight: 400;
  }

  hr {
    height: 2px;  
  }
  
}


